{% extends 'base.html' %}

{% block title %}Scouting in progress{% endblock %}

{% block header %}
<h2>Scouting in progress. Your nickname is "{{ nickname }}".</h2>
{% endblock %}

{% block content %}

<script>
    window.onload = init;
    var gotAssignment = false;
    function plus(id) {
        const element = document.getElementById(id);
        let i = parseInt(element.value);
        element.value = i + 1;
        if (isNaN(i)) {
            element.value = 0;
        }
    }
    function minus(id) {
        const element = document.getElementById(id);
        let i = parseInt(element.value);
        element.value = Math.max(i - 1, 0);
        if (isNaN(i)) {
            element.value = 0;
        }
    }
    function pollAssignment() {
        const http = new XMLHttpRequest();
        http.open('GET', "/scouter/{{ nickname }}/assignment/");
        http.send();
        http.onreadystatechange = function(e) {
            if (http.responseText === "none" || http.responseText === "") {
                // Do nothing
            } else {
                console.log("Got response " + http.responseText)
                document.getElementById("assignment").innerHTML = "Scouting assignment " + http.responseText;
                document.getElementById("hideable").style.visibility = "visible";
                gotAssignment = true;
            }
        }
        if (!gotAssignment) {
            setTimeout(pollAssignment, 2000);
        }
    }
    function init() {
        document.getElementById("hideable").style.visibility = "hidden";
        setTimeout(pollAssignment, 100);
    }
</script>
<br /><br /><br /><br />
<div style="border: 1px solid lightslategray">
    <form method="post" onkeydown="return event.key != 'Enter';">
        <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
            <h2 id="assignment">Waiting for assignment...</h3>
        </div>
        <br />
        <div id="hideable">
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <h3 id="assignment">Auto</h3>
            </div>
            {% for id,label in counters_auto %}
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="{{ id }}_div">{{ label }}</label>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center"
                id="{{ id }}_div" name="{{ id }}_div">
                <input type="button" value="-" onclick="minus('{{ id }}')" />
                <input name="{{ id }}" id="{{ id }}" value="0" required />
                <input type="button" value="+" onclick="plus('{{ id }}')" />
            </div>
            {% endfor %}
            <hr />
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <h3 id="assignment">Teleop</h3>
            </div>
            {% for id,label in counters_teleop %}
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <label for="{{ id }}_div">{{ label }}</label>
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center"
                id="{{ id }}_div" name="{{ id }}_div">
                <input type="button" value="-" onclick="minus('{{ id }}')" />
                <input name="{{ id }}" id="{{ id }}" value="0" required />
                <input type="button" value="+" onclick="plus('{{ id }}')" />
            </div>
            {% endfor %}
            <hr />
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <input name="notes" placeholder="Notes?">
            </div>
            <div style="display:flex; flex-direction: row; justify-content: center; align-items: center">
                <input type="submit" value="Submit">
            </div>
        </div>
    </form>
</div>

{% endblock %}